---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_COLOR } from "../../consts";
import { getCollection } from "astro:content";
import SearchList from "../../components/SearchList";

const articles = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE + "'s Blog"} description={SITE_DESCRIPTION} />
  </head>
  <body
    class={`min-h-[100svh] w-full dark:bg-${SITE_COLOR}-800 dark:text-white`}
  >
    <Header />
    <SearchList list={articles} client:load />
    <Footer />
  </body>
</html>
