---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import HeroSection from "../components/HeroSection.astro";
import Card from "../components/Card.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-[100svh] w-full dark:bg-gray-800 dark:text-white">
    <Header title={SITE_TITLE} />
    <HeroSection />
    <section
      class="w-full flex flex-col lg:flex-row items-center bg-gray-100 dark:bg-gray-700"
    >
      <Card title="Web Development" src="./web.png">
        I am experienced with Web Development in frameworks like React.js,
        Next.js, Solid.js, Astro. I mainly use Typescript for my projects. I
        often use Tailwind CSS for styling my projects.
      </Card>
      <Card title="App Development" src="./mobile.png">
        I have made applications in Native Android with Kotlin, Flutter and
        React Native. I love to build something that you can always have in your
        pocket.
      </Card>
      <Card title="Python Development" src="./python.svg">
        I really adore Python as a programming language. I have made some
        desktop applications with tkinter, I have made some web apps and many
        more. I enjoy using various libraries that are supported with Python.
      </Card>
    </section>
    <Footer />
  </body>
</html>
