---
interface Props {
  src: string;
  title: string;
}

const { src, title } = Astro.props;
---

<div class="p-8 lg:px-8 lg:py-16 md:block">
  <img src={src} alt="" class="w-32 h-32 object-contain mb-4 select-none" />
  <span class="text-3xl font-bold">{title}</span>
  <p class="opacity-75 mt-3 inter" style="text-wrap: balance;">
    <slot />
  </p>
</div>
