---
---

<main
  class="flex flex-col md:flex-row-reverse items-center justify-center mb-16"
>
  <picture class="select-none">
    <source media="(min-width: 600px)" srcset="/big-me.png" />
    <img
      class="w-64 h-64 object-contain mx-auto mt-4"
      src="/sm-me.png"
      alt=""
    />
  </picture>
  <div class="flex flex-col items-start mx-3 md:w-1/2">
    <h2 class="text-3xl md:text-4xl main-text">
      Hey! I'm Avaneesh, a<br /><b>Software Developer.</b>
    </h2>
    <p class="main-text opacity-75 mt-3" style="text-wrap: balance;">
      I am a young software developer with experience in both app and web
      development with huge motivation to create something user-friendly and
      helpful.
    </p>
    <a
      href="https://github.com/Avaneesh-Chopdekar?tab=repositories"
      target="_blank"
      class="select-none mt-4 w-1/2 md:w-1/3 inline-block text-center py-1.5 bg-gradient-to-b to-blue-700 from-blue-400 text-white font-semibold rounded-full"
    >
      Projects
    </a>
  </div>
</main>
